

.coming-soon-container {
  text-align: center;
  padding: 4rem 2rem;
}

.notify input {
  padding: 0.5rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--primary-color);
  width: 250px;
  margin-right: 0.5rem;
}

.notify button {
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}